body[data-theme="light"] {
  background: #b4dcecd9;
  color: #222;
  transition: all 0.3s ease;
}

body[data-theme="dark"] {
  background:linear-gradient(#607fbe, rgb(52, 52, 122),rgb(14, 14, 14)) ;
  transition: all 0.3s ease;
}

.app {
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
[data-theme="dark"] .header{
  color: #f5f5f5;
}
.title {
  font-size: 2.2rem;
  font-weight: 700;
}

.theme-toggle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.theme-toggle:hover {
  transform: rotate(20deg);
}

.search-section {
  margin-top: 2rem;
}

.search-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}


.city-select {
  font-size: 1rem;
}

.location-btn {
  background: #4f8cff;
  border: none;
  color: white;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.location-btn:hover {
  background: #376ad7;
}

.loading {
  margin-top: 2rem;
  font-style: italic;
  font-size: 1.1rem;
  opacity: 0.8;
}

.advice{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
}

[data-theme="dark"] .advice{
  color: #f5f5f5;
}
.auto-refresh {
  font-size: 0.9rem;
  opacity: 0.7;
  text-align: center;
  margin-top: 0.5rem;
}


