.weather-card {
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 2rem;
  padding: 1.5rem;
  margin-top: 2rem;
  backdrop-filter: blur(8px);
  width: 300px;
  max-width: 90%;
  color: #333;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

[data-theme="dark"] .weather-card {
  background: rgba(0, 0, 0, 0.4);
  color: white;

}

.weather-card:hover {
  transform: scale(1.02);
}

.weather-card img {
  width: 100px;
}

.weather-card h2 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.temperature {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  font-size: 1rem;
}

.placeholder {
  opacity: 0.7;
  font-style: italic;
}
